html {
	height: 100vh;
	width: 100vw;
	background-image: url(../image/deepSpace.jpg);
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	background-image: url(../image/deepSpace.jpg);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.fingers{
	position: fixed;
	height: 50px;
	width: 50px;
}

main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	/*background-color: #263238;*/
}

.infoBox {
	width: 300px;
	height: 10%;
	padding: 20px;
	align-self: flex-end;
	color: #FFF;

	display: flex;
	flex-direction: row;
	justify-content: center;
	/*background-color: #78909C;*/
}

#day {
	font-weight: 15px;
	margin-right: 10px;
}

#time {
	font-weight: 15px;
	margin-right: 10px;
}

#weather {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

#menuBtn {
	background-color: transparent;
	color: #FFF;
	border: solid 1px;
}

.carousel-inner {
	width: 100%;
	height: 100%;
	position: absolute;
}

.cards-container {
	/* margin: auto; */
	width: 80%;
	height: 80%;
	position: absolute;
	top: 40%;
	left: 30%;
	transform: translate(-25%, -50%);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 30px;
	/*background-color: #546E7A;*/
}

.cards {
	height: 100%;
	width: 100%;
    -webkit-background-size: contain;
  	-moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*z-index: 5;*/
}

.card-expand {
	-webkit-transform: scale(2);
	-webkit-transition-duration: 2s;
}

#card1 {
	background-image: url(../image/1.png);
}

#card2 {
	background-image: url(../image/2.png);
}

#card3 {
	background-image: url(../image/3.svg);
}

#card4 {
	background-image: url(../image/4.png);
}

#card5 {
	background-image: url(../image/5.png);
}

#card6 {
	background-image: url(../image/6.png);
}

#card7 {
	background-image: url(../image/7.png);
}

#card8  {
	background-image: url(../image/8.png);
}

#card9  {
	background-image: url(../image/9.png);
}

#card10  {
	background-image: url(../image/10.png);
}

#card11  {
	background-image: url(../image/11.png);
}

#card12  {
	background-image: url(../image/12.png);
}


.full-screen {
	display: none;
	flex-direction: row;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;

	background-image: url(../image/deepSpace.jpg);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#menu {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40px;
	height: 40px;
	margin: 20px;
	z-index: 5;
}

header {
	height: 100%;
	width: 30%;
	display: none;
	background-color: #37474F;
	opacity: 0.2;
}

#popup {
	display: none;
	flex-direction: row;
}

.content-full {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

/*.zoomIn {
	-webkit-animation-duration: 0.5s;
}

.content-hidden {
	display: none;
	transition-duration: 0.8s;
}

.expand {
	width: 90%;
	height: 90%;
	border-radius: 5px;
	align-self: center;
}

#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}*/

/*@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);*/
/*body{
    font-family: 'Quicksand', sans-serif;
}
.gal-container{
	padding: 12px;
}
.gal-item{
	overflow: hidden;
	padding: 3px;
}
.gal-item .box{
	height: 350px;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item a:focus{
	outline: none;
}
.gal-item a:after{
	content:"\e003";
	font-family: 'Glyphicons Halflings';
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: 1;
}
.modal-open .gal-container .modal{
	background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
	padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
	outline: none;
}
.modal-open .gal-item button.close span{
	position: relative;
	top: -3px;
	font-weight: lighter;
	text-shadow:none;
}
.gal-container .modal-dialogue{
	width: 80%;
}
.gal-container .description{
	position: relative;
	height: 40px;
	top: -40px;
	padding: 10px 25px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-align: left;
}
.gal-container .description h4{
	margin:0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}*/

#rig {
	width: 42%;
    /*max-width:900px;*/
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
}

#rig li {
    display: inline-block;
    width: 25%;
    vertical-align:middle;
    box-sizing:border-box;
    padding: 10px;
}
        
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}
        
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

/*#rig li:hover .rig-img {
    transform:scale(1.05);
}*/
.image-hover {
    transform: scale(1.5);
    animation-duration: 1s;
}

.overlay-opaque {
    opacity:0.8;
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    /*background: #3DC0F1 url(img/link.png) no-repeat center 20%;*/
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}

/*#rig li:hover .rig-overlay {
    opacity:0.8;
}*/

.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}

#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}


/* .work {
  margin-bottom: 20px;
}
.work .work-grid {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.work .work-grid .inner {
  display: table;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(237, 235, 232, 0.9);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .work .work-grid .inner {
    opacity: 1;
    background: rgba(237, 235, 232, 0.7);
  }
}
.work .work-grid .inner .desc {
  display: table-cell;
  vertical-align: middle;
  padding: 40px;
}
.work .work-grid .inner .desc h3 {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
  line-height: 24px;
}
.work .work-grid .inner .desc h3 a {
  color: #000;
}
.work .work-grid .inner .desc .cat {
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .work .work-grid .inner .desc .cat {
    color: #333333;
  }
}
.work:hover .inner, .work:focus .inner {
  opacity: 1;
}
.work:hover .desc h3 a, .work:focus .desc h3 a {
  color: #cabcab;
} */

.js .animate-box {
  opacity: 0;
}

.jello {
	/* -webkit-animation-duration: 3s; */
	-webkit-animation-iteration-count: infinite;
}

/* -------------------- Animation  -------------------- */
#slide1 {
	position: absolute;
	height: 100%;
	width: 100%;
}

.slide1-in {
    animation: slide1-in 1s forwards;
    -webkit-animation: slide1-in 1s forwards;
}

@keyframes slide1-in {
	0% {transform: translateX(-100%);}
    100% { transform: translateX(0%); }
}

.slide1-out {
    animation: slide1-out 1s forwards;
    -webkit-animation: slide1-out 1s forwards;
}

@keyframes slide1-out {
    100% { transform: translateX(-100%); }
}

#slide2 {
	position: absolute;
	height: 100%;
	width: 100%;
	transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.slide2-in {
    animation: slide2-in 1s forwards;
    -webkit-animation: slide2-in 1s forwards;
}

@keyframes slide2-in {
    100% { transform: translateX(0%); }
}

.slide2-out {
    animation: slide2-out 1s forwards;
    -webkit-animation: slide2-out 1s forwards;
}

@keyframes slide2-out {
	0% {transform: translateX(0%);}
    100% { transform: translateX(100%); }
}

@keyframes full-scale{
    from{
        transform:scale(0);
    }
    to{
        transform:scale(2);
    }
}
